# xcode noise
build/*
*.perspective
*.perspectivev3
*.pbxuser
*.mode1
*.mode2v3
*.mode1v3
xcuserdata
Snapshots

# osx noise
.DS_Store

# Intego Backup Express noise
.PBSyncDB

# Python noise
*.py[co]

# Packages
*.egg
*.egg-info

# TextMate noise
*.tmproj

# IntelliJ user settings
**/.idea/workspace.xml
**/.idea/tasks.xml
